*.tsv
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
.vscode/
graph_creation/*.gexf
graph_creation/test.ipynb
simulation/*.gif
simulation/*.mp4
link_prediction_graph_creation/contact_graphs/*
link_prediction_graph_creation/contact_graphs_no_dwell_threshold/*
test.ipynb
link_prediction_graph_creation/feature_combination/*.pkl
link_prediction_graph_creation/feature_selection_method1/*.pkl
link_prediction_graph_creation/feature_selection_method2/*.pkl
link_prediction_graph_creation/*.pkl
link_prediction_graph_creation/tgn_data/*
tgn
link_prediction/node2vec_tensors_6.pkl